APP_NAME= api-gateway
TIMEOUT= 5000

URL_SERVICE_MEDIA=http://localhost:8080
URL_SERVICE_KEHADIRAN=http://localhost:4000
URL_SERVICE_USER=http://localhost:5000
URL_SERVICE_MENTOR=http://localhost:8000